:root {
    --bg_color: lightsteelblue;
    --text_color: black;
    --text_bg_color_dark_theme: #393053;
    --text_bg_color: white;

    /* HSL values for title color */
    --colorPrimary-h: 0;
    --colorPrimary-s: 100%;
    --colorPrimary-l: 20%;

    --title_color: hsl(
        var(--colorPrimary-h)
        var(--colorPrimary-s)
        var(--colorPrimary-l)
    );
    --font-choice: sans-serif;

    /* saturation and light percentages */
    --sp: 50%;
    --lp: 10%;

    --title_color_lighter: hsl(
        var(--colorPrimary-h)
        var(--colorPrimary-s)
        calc(var(--colorPrimary-l) + var(--lp))
    );

    --title_color_darker: hsl(
        var(--colorPrimary-h)
        var(--colorPrimary-s)
        calc(var(--colorPrimary-l) - var(--lp))
    );

    --nav_btn_hover: hsl(
        var(--colorPrimary-h)
        calc(var(--colorPrimary-s) - var(--sp))
        calc(var(--colorPrimary-l) + calc(var(--lp) * 4))
    );

    --nav_btn_hover_lighter: hsl(
        var(--colorPrimary-h)
        calc(var(--colorPrimary-s) - var(--sp))
        calc(var(--colorPrimary-l) + calc(var(--lp) * 5))
    );

    --nav_btn_hover_darker: hsl(
        var(--colorPrimary-h)
        calc(var(--colorPrimary-s) - var(--sp))
        calc(var(--colorPrimary-l) + calc(var(--lp) * 3))
    );

}

body {
    font-family: var(--font-choice);
    line-height: 1.2;
}

img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

#profile_picture {
    width: 180px;
}

p.caption {
    text-align: center;
    font-size: 0.85rem;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1, h2 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--title_color);
}

h3 {
    font-size: 1.25rem;
    color: var(--text_color);
}

h4 {
    font-size: 1.15rem;
    color: var(--text_color);
}

p {
    padding: 5px 10px;
    font-size: 1.1em;
    color: var(--text_color);
}

#back_btn {
    font-weight: bold;
}

th, td{
    padding: 5px 10px;
    text-align: left;
}

td {
    height: 10px;
}

td.dyn_width {
    white-space: nowrap;
    width: 1%;
}

blockquote {
    border-left: 4px solid var(--bg_color);
}

#nav_bar {
    text-align: center;
}

.nav {
    padding-left: 0px;
    list-style:none;
    display: inline-block;
}

.nav li {
    font-family: var(--font-choice);
    float:left;
    margin: 0 2px;
}

.nav li a {
    text-decoration:none;
    padding:7px 20px;
    background: var(--title_color);
    color: var(--text_bg_color);
    border-top:2px solid var(--title_color_lighter);
    border-right:2px solid var(--title_color_darker);
    border-bottom:2px solid var(--title_color_darker);
    border-left:2px solid var(--title_color_lighter);
}

.nav li a:hover {
    background: var(--nav_btn_hover);
    color: var(--text_color);
    border-top:2px solid var(--nav_btn_hover_lighter);
    border-bottom:2px solid var(--nav_btn_hover_darker);
    border-left:2px solid var(--nav_btn_hover_lighter);
    border-right:2px solid var(--nav_btn_hover_darker);
}

@media (max-width: 675px) {
    body {
        background-color: var(--text_bg_color);
    }

    #content {
        display: block;
        margin: 0;
        padding: 5px;
        background-color: var(--text_bg_color);
    }
}

@media (min-width: 676px) {
    body {
        background-color: var(--bg_color);
    }

    #content {
        display: block;
        margin: 5px auto;
        width: 50%;
        min-width: 350px;
        max-width: 500px;
        padding: 5px 10px;
        background-color: var(--text_bg_color);
        border: 2px solid var(--text_color);
    }
}
